/*CSS for Week3/Class_lab and Assignment # 4 */
body{
	font-size:14px;
	background-color: white;
	color:black;
}

header{
	background-color: black;
	padding: 10px;
}

/*Change hyperlink text and background color when mouse is hovering over the htyperlink. */

.changeSize {
	background: blue;
	color: yellow;
}

/* Change navigation link to fade in and out the color and change font size. */
 .blue-steel {
 	font-size: .5em;
 	animation: pulse 5s infinite;
 }

h1{
	font-size: 3em;
	text-align:left;
	color:yellow;
	padding: 10px;
	margin-bottom: 10px;
}

.homepic{
	background: transparent
	url('../images/coworking.jpg')
	center
	no-repeat;
	margin-top: 0px;
	width: 100%;
	height: 490px;
}

.sidebar{
	border:solid black;
	font-size: 1.5em;
	background-color: white;
	display: inline-block;
	position: absolute;
	margin-left: 800px;
	margin-top: 200px;
}

h2{
	font-style: 2em bold;
}

div{
	display:inline-block;
	width:29%;
	padding:2%;
}

.container{
	width:100%;
}

p{
	margin-bottom: 1.2em;
}	

#buttonOne{
	display:inline-block;
	color:black;
	background-color: gray;
}

button.profilebox{
	display:inline-block;
	background-color: yellow;
}

nav{
	font-size:1.5em;
	background-color: black;
	position:relative;
	left:120px;
	margin: 0; 
}
nav li{
	display:inline-block;
	padding-left: 60px;
	padding-right: 10px;
	margin: 0;
}

a:first-child {
	font-style: bold;
}

a:nth-child(2){
	font-style:bold;
}

hr{
	border-color:yellow;
	margin:0;
}
a{
	text-decoration: none;
	color:white;
}

.tagline{
	font-size:1.5em;
	font-style: italic;
	text-align:center;
	background-color: gray;
	padding:15px;
}

.tagline:nth-of-type(3){
	font-color:gray;
	text-decoration: line-through;
}

.tagline:nth-of-type(4){
	text-decoration: underline;
	text-decoration-color:yellow;
}
.clearfix:after{
	clear:both;
}

footer{
	clear: both;
	background-color: black;
	color: white;
}